body {
	background-image: url(images/bg.png);
	background-repeat:no-repeat; 
	background-position:top center; 
	background-size:100%; 
	margin:0; 
	padding:0;
}

.par {
	content: url(images/itsme.jpg);
	width: 200px;
	height: 200px;
}

.bball {
	content: url(images/bball.jpg);
	width: 190px;
	height: 170px;
}

.vball {
	content: url(images/vball.jpg);
	width: 190px;
	height: 170px;
}

.books {
	content: url(images/books.jpg);
	width: 190px;
	height: 170px;
}

.cooking {
	content: url(images/cooking.jpg);
	width: 190px;
	height: 170px;
}



